publicIngress:
  paths:
    - /api/auth/oidc/login
  middlewares:
    - name: auth-stripprefix

fullnameOverride: "eo-auth"

eo-base-helm-chart:
  fullnameOverride: "eo-auth"

  env:
    TOKEN_COOKIE_SAMESITE: true
    PSQL_HOST: eo-auth-postgresql
    PSQL_PORT: 5432
    PSQL_USER: postgres
    PSQL_DB: auth
    SQL_POOL_SIZE: 1
  podSpec: {}

  envSecrets:
   INTERNAL_TOKEN_SECRET:
     secretName: auth-random-secret
     key: eo-token-secret
     
   SSN_ENCRYPTION_KEY:
     secretName: auth-random-secret
     key: eo-ssn-secret

   PSQL_PASSWORD:
     secretName: auth-postgres-secret
     key: postgresql-password

  deployments:
    api: 
      replicaCount: 1
      command: "/bin/bash"
      args: "entrypoint_api.sh"
      probes: true
      env: {}
      image:
        repository: projectorigin/auth
        tag: "latest"
        pullPolicy: Always

  service:
    deployment: api
    type: ClusterIP
    port: 80
#    proxy:
#      host: "172.17.0.1"

  ingress:
    hosts: []
    paths:
      - /api/auth
    pathExceptions:
      - /api/auth/oidc/login
    servicePort: 80
    middlewares:
      - name: auth-stripprefix
      - name: eo-auth-service

  middleware:
    stripPrefix:
      name: auth-stripprefix
      prefixes:
        - /api/auth

global:
  postgresql:
    postgresqlUsername: postgres
    postgresqlDatabase: auth
    existingSecret: auth-postgres-secret
