ett-base-helm-chart:
  deployments:
    - name: auth-api
      replicaCount: 1
      command: "/bin/bash"
      args: "entrypoint_api.sh"
      probes: true
      env:
        SQL_URI: postgresql://postgres:1234@ett-postgresql.ett-postgresql.svc.cluster.local:5432/auth
        SQL_POOL_SIZE: 1
      image:
        repository: projectorigin/ett-auth
        tag: "latest"
        pullPolicy: Always
    - name: auth-consumer
      replicaCount: 1
      command: "/bin/bash"
      args: "entrypoint_consumer.sh"
      probes: true
      env:
        EVENT_BUS_HOST: my-cluster-kafka-plain-bootstrap.ett-kafka.svc.cluster.local
        EVENT_BUS_PORT: 9092
        SQL_URI: postgresql://postgres:1234@ett-postgresql.ett-postgresql.svc.cluster.local:5432/auth
        SQL_POOL_SIZE: 1
      image:
        repository: projectorigin/ett-auth
        tag: "latest"
        pullPolicy: Always

  service:
    deployment: auth-api
    type: ClusterIP
    port: 9096
    proxy:
      host: "172.17.0.1"

  ingress:
    hosts: []
    paths:
      - /api/auth
    servicePort: 9096
    middlewares:
      - auth-stripprefix

  middleware:
    stripPrefix:
      name: auth-stripprefix
      prefixes:
        - /api/auth
