[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
testcontainers = "*"

[packages]
pyjwt = "*"
authlib = "*"
requests = "*"
peterplys = "0.4.1"

[scripts]
revision = "alembic --config=src/migrations/alembic.ini revision --autogenerate"
upgrade = "alembic --config=src/migrations/alembic.ini upgrade head"
update-platform = "pip install --upgrade ./../ett-platform-utils"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
