[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
testcontainers = "*"
flake8 = "*"

[packages]
pyjwt = "*"
authlib = "*"
requests = "*"
python-decouple = "*"
origin-platform-utils = "0.5.1"

[scripts]
lint-flake8 = "flake8"
testall= "pytest tests"
unittest= "pytest tests -m unittest --tb=native"
integrationtest= "pytest tests -m integrationtest --tb=native"
update-platform = "pip install --upgrade ./../eo-platform-utils"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
