# This Workflow does the following:
# 1. Create new Github Release
# 2. Build and Push Docker image to Dockerhub
# 3. Update Base Environment Repository
#   3.1 Replace old image tag with new one
#   3.2 Make new branch with commited chnages
#   3.3 Make pull request in the production branch

name: Create Release

env:
  # Url of the current job
  JOB_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"

  ##### push_to_registry #####

  # Name of the docker image found on docker hub
  # TODO: RENAME to match new name
  DOCKER_IMAGE: projectorigin/auth

  ##### update_base_env #####

  # Helm chart path
  HELM_CHART_PATH:  "yggdrasil/applications/eo/eo-auth/eo-auth-service.yaml"

  # Base environment path "{OWNER}/{REPO_NAME}"
  BASE_ENV_REPO: "Energinet-DataHub/eo-base-environment"

  # Branch to make pull request to
  BASE_ENV_REPO_BRANCH: "development"

  # The name of the service being updated and shown in pull request
  SERVICE_NAME: auth-service

on:
  workflow_run:
    workflows: ["Lint and Test"]
    branches: [main]
    types:
      - completed

jobs:
  create_release:
    name: Create Release
    runs-on: ubuntu-latest
    outputs:
      release_tag: ${{ steps.define_version.outputs.VERSION_NUMBER }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      # Define the new docker tag
      - name: Define version
        id: define_version
        run: |
          export MAJOR=0
          export MINOR=0
          export PATCH=${{ github.run_number }}
          export VERSION_NUMBER="v${MAJOR}.${MINOR}.${PATCH}"
          echo $VERSION_NUMBER
          echo "::set-output name=VERSION_NUMBER::$VERSION_NUMBER"

      # Create new github release
      - uses: "marvinpinto/action-automatic-releases@919008cf3f741b179569b7a6fb4d8860689ab7f0"
        with:
          repo_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          automatic_release_tag: ${{steps.define_version.outputs.VERSION_NUMBER}}
          prerelease: false
          draft: false
          title: Release ${{ steps.define_version.outputs.VERSION_NUMBER }}

  push_to_registry:
    name: Push Docker image to Docker Hub
    needs: create_release
    runs-on: ubuntu-latest
    outputs:
      docker_image_digest: ${{ steps.push.outputs.digest }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Set up Python ${{ env.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.python-version }}

      - name: Install pipenv
        run: |
          python -m pip install --upgrade pipenv wheel

      - id: cache-pipenv
        uses: actions/cache@v1
        with:
          path: ~/.local/share/virtualenvs
          key: ${{ runner.os }}-pipenv-${{ hashFiles('**/Pipfile.lock') }}

      - name: Generate requirements.txt
        run: |
          pipenv lock -r > requirements.txt

      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.PO_DOCKERHUB_USERNAME }}
          password: ${{ secrets.PO_DOCKERHUB_SECRET }}

      # Extract new tags from the given tag
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.DOCKER_IMAGE }}
          tags: |
            type=semver,pattern=v{{version}},value=${{ needs.create_release.outputs.release_tag }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  update_base_env:
    name: Update Base Environment
    runs-on: ubuntu-latest
    needs:
      - create_release
      - push_to_registry
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      # Checkout the base envionment
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          repository: ${{ env.BASE_ENV_REPO }}
          ref: ${{ env.BASE_ENV_REPO_BRANCH }}

      - uses: actions/setup-python@v2

      - name: install yaml
        run: python -m pip install pyyaml

      # Search and replace the previous image tag with the new one
      - name: Update Helm Chart Tags
        uses: jannekem/run-python-script-action@v1
        with:
          script: |
            import re

            file = "${{ env.HELM_CHART_PATH }}"
            new_tag = "${{ needs.create_release.outputs.release_tag }}"

            regex = re.compile("(^.*tag: )(.*)", flags=re.MULTILINE)

            with open(file) as f:
                data = f.read()

            res = regex.search(data)

            new_content = data.replace(res.group(2), new_tag)

            with open(file, 'w') as f:
                f.write(new_content)



      # Create a new branch and a pullrequest in the base environment
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          title: Bump ${{ env.SERVICE_NAME }} to ${{ needs.create_release.outputs.release_tag }}
          commit-message: Bump ${{ env.SERVICE_NAME }} to ${{ needs.create_release.outputs.release_tag }}
          committer: GitHub <noreply@github.com>
          branch: "automated/github_actions/bump-${{ env.SERVICE_NAME }}-version-${{ needs.create_release.outputs.release_tag }}"
          labels: "automerge" # Indicates that pull requests may be auto merged
          body: |
            Bump ${{ env.SERVICE_NAME }} to ${{ needs.create_release.outputs.release_tag }}

            - Triggered by [Job][1] in [Repo][2]

            [1]: ${{ env.JOB_URL }} 
            [2]: ${{ github.server_url }}/${{ github.repository }}
